.body-title {
	border: solid 0.5px white;
	padding: 2px;
	margin-right: 200px;
	margin-left: 200px;

}

.container{
	background-image: url("oFfO9WZ.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1000px 500px
}


.links {
	margin-bottom: 20px;
	padding: 200px;
}
